@model CalculatorCode.Models.TextTokensCalculator

@{
    ViewData["Title"] = "Text Tokens Calculator";

    String algorithmCode = ViewBag.Code;
}


<body>

    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.InputOne)
        <span> <br /> </span>
        <input type="submit" class="btn btn-success" />
        <span> <br /> </span>
        <h4>Result: </h4>
        @Html.DisplayFor(model => model.TokenResult)

    }
</body>

