@model CalculatorCode.Models.CircleCircumferenceRadiusCalculator

@{
    ViewData["Title"] = "Circle Circumference From Radius";
}


<body>

    @using (Html.BeginForm())
    {
        @Html.DisplayNameFor(model => model.InputOne)
        <span> <br /></span>
        @Html.EditorFor(model => model.InputOne)
        <span> <br /> </span>
        <input type="submit" class="btn btn-success" />
        <span> <br /> </span>
        <h4>Result: </h4>
        @Html.DisplayFor(model => model.Result)

    }

</body>
