@model CalculatorCode.Models.FractionCalculator

@{
    ViewData["Title"] = "Fraction";

    String algorithmCode = ViewBag.Code;
}

<h3>Calculator Under Construction.</h3>
@*<body>

    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.InputOne)
        <span> <br /> </span>
        @Html.EditorFor(model => model.InputTwo)
        <br />
        @Html.DropDownListFor(model => model.SelectedOperation,
                new SelectList(Enum.GetValues(typeof(Operations))), "Select Operation")
        <input type="submit" class="btn btn-success" />
        <span> <br /> </span>
        <h4>Result: </h4>
        @Html.DisplayFor(model => model.Result)

    }
</body>*@

