@model CalculatorCode.Models.AgeCalculator;
@{
    ViewData["Title"] = "Age Calculator";
}

<body>
    @using (Html.BeginForm())
    {

        @Html.EditorFor(model => model.InputOne)
        <br />        
        <input type="submit" class="btn btn-success" />
        <span> <br /> </span>
        <h4>Result (days): </h4> 
        @Html.DisplayFor(model => model.Result.Days)
        

    }

</body>

