@model CalculatorCode.Models.BinaryCalculator

@{
    ViewData["Title"] = "Home Page";

    String algorithmCode = ViewBag.Code;
    String instructionCode = ViewBag.Instruction;
}


<body>

    <h2> Binary Calculator Calculator </h2>
    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.InputOne)
        <span> <br /> </span>
        @Html.EditorFor(model => model.InputTwo)
        <input type="submit" class="btn btn-success" />
        <span> <br /> </span>
        <h4>Result: </h4>
        @Html.DisplayFor(model => model.ResultInBinary)
        @Html.DisplayFor(model => model.ResultInDecimal)

    }

</body>
