@model CalculatorCode.Models.SimpleCalculator

@{
    ViewData["Title"] = "Simple Calculator";

    String algorithmCode = ViewBag.Code;
}


<body>

    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.InputOne)
        <span> <br /> </span>
        @Html.EditorFor(model => model.InputTwo)
        <input type="submit" class="btn btn-success" />
        <span> <br /> </span>
        <h4>Result: </h4>
        @Html.DisplayFor(model => model.Result)
            }

</body>
