
body {
    padding-top: 50px;
    padding-bottom: 20px;
    align-content: center;
    background-color: aquamarine;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#codeBlock {
    background-color:red;
}

.calculatorLink {
    background-color: aquamarine;
    font-size: 16px;
}