@model CalculatorCode.Models.GCDandLCMCalculator

@{
    ViewData["Title"] = "GCD and LCM Calculator";

    String algorithmCode = ViewBag.Code;
}


<body>

    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.InputOne)
        <span> <br /> </span>
        @Html.EditorFor(model => model.InputTwo)
        <br />
        <input type="submit" class="btn btn-success" />
        <span> <br /> </span>
        <h4>GCD Result: </h4>
        @Html.DisplayFor(model => model.GCDResult)
        <br />
        <h4>LCM Result: </h4>
        @Html.DisplayFor(model => model.LCMResult)


    }
</body>

