@model CalculatorCode.Models.CircleCircumferenceDiameterCalculator

@{
    ViewData["Title"] = "Circle Circumference From Diameter";
}


<body>

    @using (Html.BeginForm())
    {
        @Html.DisplayNameFor(model => model.InputOne)
        <span> <br /></span>
        @Html.EditorFor(model => model.InputOne)
        <span> <br /> </span>
        <input type="submit" class="btn btn-success" />
        <span> <br /> </span>
        <h4>Result: @Html.DisplayFor(model => model.Result)</h4>

    }

</body>
