

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3> Calculators.Net</h3>

<div>
    <p>
        CalculatorCode is a Project by Vass Software. We strive to provide users not only with <br />
        practical online calculator tools, but also to educate students of programming and computer <br />
        science on the algorithms used to produce the results. <br />
        <br />

        Currently we support a limited number of calculators and provide code examples as they would appear <br />
        in the C# programming language. This will be expanded in the future to support dozens of calculators <br />
        and many more programming languages. 
    </p>
</div>
