

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3> Calculators.Net</h3>

<p> Providing calculator services Internet-wide!
    <br />
    We also strive to educate users on the calculations taking place behind the scenes. 
    <br />
    Therefore we include code snippets for each calculator written in the C# Programming Language.
    
    <br />

    More calculators coming soon!
    </p>
