

@{
    ViewData["Title"] = "About";
}

<div>
    <p>
        CalculatorCode is a Project by Vass Software. We strive to provide users not only with <br />
        practical online calculator tools, but also to educate students of programming and computer <br />
        science on the algorithms used to produce the results. <br />
        <br />

        Currently we support a limited number of calculators and provide code examples as they would appear <br />
        in the C# programming language. This will be expanded in the future to support dozens of calculators <br />
        and many more programming languages. 
    </p>

    <hr />

    <p>
        This application is open source and hosted on GitHub. You can find it here <a href="www.github.com"></a> <br />
        It has been created using ASP.NET Core and the C# programming language. Any bugs, issues or feature requests <br />
        can be submitted via GitHub.
    </p>
</div>
