@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

<h4> Available: @Model.Count</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<String, String> calcNameAndController in Model)
        {
            <tr class="calculatorLink">
                <td>
                    @Html.ActionLink(calcNameAndController.Key, "Index", calcNameAndController.Value)
                </td>
            </tr>

        }

</tbody>

</table>